.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .card {
    flex: 1 0 100%;
    box-sizing: border-box;
    margin: 1rem .25em;
}

@media screen and (min-width: 40em) {
    .card {
       max-width: calc(50% -  1em);
    }
}
 
@media screen and (min-width: 60em) {
    .card {
        max-width: calc(20% - 1em);
    }
}

.buttons {
    display: flex;
}

.buttons .btn {
    flex-grow: 1;
}

.img-max-height-600 {
    max-height: 600px;
    overflow-y: auto;
}
